$fa-font-path: '../node_modules/font-awesome/fonts';

/* Colors */

$primaryCol: #2196f3;
$accentCol: #ff4081;
$errorCol: #f44336;
$successCol: #8bc34a;
$whiteCol: #ffffffde;
$light-grayCol: #d6d4d4;
$grayCol: #6b6b6b;
$light-blueCol: #3baeda;
$yellowCol: #ffeb3b;

/* Font sizes */

$font-xsmall: 12px;
$font-small: 14px;
$font-regular: 16px;
$font-large: 24px;
$font-xlarge: 32px;
$font-xxlarge: 48px;

/* Font weights */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;