/* You can add global styles to this file, and also import other style files */

@import 'reset';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.center {
    text-align: center;
}


/* Colors */

.errorCol {
    color: $errorCol;
}


/* MATERIAL OVERRIDES */


/* MatSnackbar */

.mat-snack-bar-container.success {
    background-color: $successCol;
    color: $whiteCol;
}

.mat-snack-bar-container.danger {
    background-color: $errorCol;
    color: $whiteCol;
}

.mat-simple-snackbar-action {
    color: $whiteCol;
}