@import '../../../variables';

.page-header {
    margin: 30px;
    font-size: $font-large;
    text-align: center;
    font-weight: bold;
    color: $accentCol;
}
.prefix {
    color: $grayCol;
    margin: 0 5px;
}

.form-wrap {
    text-align: center;
    .input-wrap {
        margin: 20px 0;
    }
    .mat-form-field {
        width: 100%;
    }
}